<!DOCTYPE html>
{% extends 'sathyabamaapp/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}
{% block title %}Home{% endblock title%}
{% block scriptblock %}
{% block jsblock %}
<script src="{% static 'javascript/home.js' %}" type="text/javascript"></script>
<script src="{% static 'javascript/counter.js' %}" type="text/javascript"></script>
<script src="{% static 'javascript/owl.carousel.js' %}" type="text/javascript"></script>
{% endblock jsblock %}
<!--script online for counter-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
<script src="https://kit.fontawesome.com/04b9afe01e.js" crossorigin="anonymous"></script>
<!--end of scripts foe counter-->
{% endblock scriptblock %}
{% block bodyblock %}
  <!--VIDEO-->
  <video class="video" width="100%" height="100%" muted="true" autoplay loop>
    <source src="static/videos/video1.mp4" type="video/mp4">
  </video>
  <!--END OF VIDEO -->
  <!-- LATEST NEWS -->
  <div class="onoffswitch3">
      <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
      <label class="onoffswitch3-label" for="myonoffswitch3">
          <span class="onoffswitch3-inner">
              <span class="onoffswitch3-active">
                  <marquee class="scroll-text">Avengers: Infinity War's Iron Spider Suit May Use Bleeding Edge Tech  &nbsp<i class="fas fa-forward"></i> &nbsp Russo brothers ask for fans not to spoil Avengers: Infinity War&nbsp <i class="fas fa-forward"></i> &nbsp Bucky's Arm Miraculously Regenerates On Avengers: Infinity War Poster</marquee>
                  <span class="onoffswitch3-switch">LATEST NEWS</span>
              </span>
              <span class="onoffswitch3-inactive"><span class="onoffswitch3-switch">SHOW BREAKING NEWS</span></span>
          </span>
      </label>
  </div>
  <!--END OF LATEST NEWS -->
  <!--counter-->
<div class="container-fluid bgc" data-aos="fade-right">
  <div class="row justify-content-center">

        <div class=" col col-2">
          <div class="content-center">
          <span style="color: #FFD708;">   <i class="fas fa-book-reader fa-5x"></i></span>
          <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
          <h5>    Student</h5>
        </div>
        </div>
        <div class="col col-2">
          <div class="content-center">
          <span style="color: #FFD708;"><i class="fas fa-users fa-5x"></i></span>
          <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
          <h5>Alumni</h5>
        </div>
      </div>
        <div class="col col-2">
          <span style="color: #FFD708;"><i class="fas fa-chalkboard-teacher fa-5x"></i></span>
          <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
          <h5>Lectureses</h5>
        </div>
        <div class="col col-2">
          <span style="color: #FFD708;"><i class="fas fa-user-graduate fa-5x"></i></span>
          <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
          <h5>Graduates</h5>
        </div>

    </div>
  </div>
  <!--END OF COUNTER-->
<!-- PROGRAMS OFFERED -->
<h1 class="programs" data-aos="fade-right">PROGRAMS OFFERED</h1>
<div class="container">
  <div class="row" data-aos="fade-left">
  <div class="card-deck">
    <div class="col-lg-4 col-md-6">
      <div class="card shadow1" style="width: 18rem;height: 30rem;">
        <div class="inner">
          <img class="card-img-top" src="{%static "images/Programs Offered/diploma.jpg" %}" alt="Card image cap">
        </div>
        <div class="card-body">
          <h3 class="h5">Diploma |
            <small class="color-gray">Duration : <span style="color:red;font-size:25px;font-weight:700;">3</span> Years</small>
          </h3>
          <hr class="title-hr">
          <p class="text">
            <small>Aeronautical | Agriculture | Architectural Assistantship | Automobile Bio-Medical | Chemical | Civil | Computer Engineering | Dairy Technology | Electrical | Electronics & Communication | Information Technology | Mechanical | Petrochemical</small>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card shadow1" style="width: 18rem;height: 30rem;">
        <div class="inner">
          <img class="card-img-top" src="{%static "images/Programs Offered/B.Tech.jpg" %}" alt="Card image cap">
        </div>
        <div class="card-body">
          <h3 class="h5">B.Tech |
            <small class="color-gray">Duration : <span style="color:red;font-size:25px;font-weight:700;">4</span> Years</small>
          </h3>
          <hr class="title-hr">
          <p class="text">
            <small>Aeronautical | Agriculture | Automobile | Bio-Medical | Chemical | Civil | Computer Science & Engineering | Dairy Technology | Electrical | Electronics & Communication | Information Technology| Mechanical | Mechatronics | Petroleum | Robotics and Automation</small>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card shadow1" style="width: 18rem;height: 30rem;">
        <div class="inner">
          <img class="card-img-top" src="{%static "images/Programs Offered/M.Tech.jpg" %}" alt="Card image cap">
        </div>
        <div class="card-body">
          <h3 class="h5">M.Tech |
            <small class="color-gray">Duration : <span style="color:red;font-size:25px;font-weight:700;">2</span> Years</small>
          </h3>
          <hr class="title-hr">
          <p class="text">
            <small>CAD/CAM | Computer | Computer Science & Engineering | Construction Project Management | Electrical Engineering | Electronics & Communication | Geotechnical | Information Technology | Internal Combustion Engine & Automobiles | Machine Design | Power Systems | Production | Structural | Thermal | Transportation | VLSI and Embedded Systems | Water Resource Management</small>
          </p>
        </div>
      </div>
    </div>
  </div><!--end of card-deck -->
</div><!-- end of row -->
</div><!--end of container -->

<!--END OF PROGRAMS -->
<!--modal content for jeppier-->
  <div id="jeppiaar" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="content">
        <!-- Modal content-->

        <div class="modal-content mod-bod">
            <div class="modal-header">
                <h4 class="modal-title">Colonel Dr. jeppiaar</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="text-center">
                <img src="{%static "images/colonel_dr_jeppiaar.jpg" %}" class="rounded" alt="DR-JEPPIAAR" style="height: 200px; width: 200px;">
                <div class="title">COLONEL DR. JEPPIAAR</div>
        <div class="sub-title">M.A., B.L., PH.D.,</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

              </div>
            </div>
        </div>
    </div>
</div>
<!--end of modal content for jappier-->
 <!--modal content for marie-->
  <div id="marie" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="content">
        <!-- Modal content-->

        <div class="modal-content mod-bod">
            <div class="modal-header">
                <h4 class="modal-title">Colonel Dr. MARIAZEENA JOHNSON </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="text-center">
                <img src="{%static "images/dr_mariazeena_johnson1.jpg" %}" class="rounded" alt="DR-MARIAZEENA_JOHNSON" style="height: 200px; width: 200px;">
                <div class="title">COLONEL DR. MARIAZEENA JOHNSON </div>
                <div class="sub-title">B.E., MBA., M.Phil., Ph.D.</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

              </div>
            </div>
        </div>
    </div>
</div>
<!--end of modal content for marie-->

 <!--modal content for marie-->
  <div id="johan" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="content">
        <!-- Modal content-->
        <div class="modal-content mod-bod">
            <div class="modal-header">
                <h4 class="modal-title">COLONEL DR. MARIE_JOHNSON</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="text-center">
                <img src="{%static "images/dr_marie_johnson.jpg" %}" class="rounded" alt="DR_MARIE_JOHNSON" style="height: 200px; width: 200px;">
                <div class="title">COLONEL DR. MARIE_JOHNSON</div>
        <div class="sub-title">B.E., MBA., M.Phil., Ph.D.</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
        </div>
    </div>
</div>
<!--end of modal content for marie-->
<!--end of modal-->

<!-- BOOTSTRAP CARD -->
<div class="container" data-aos="fade-right">
  <div class="wrapper1">
  <div class="testimonial-carousel section-padding owl-carousel">
    <div class="single-testi">
      <div class="img-area">
        <img src="{%static "images/colonel_dr_jeppiaar.jpg" %}" alt="DR-JEPPIAAR" height="300px">
      </div>
      <div class="content">
        <div class="title">COLONEL DR. JEPPIAAR</div>
        <div class="sub-title">M.A., B.L., PH.D.,</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="btn">
        <button data-toggle="modal" data-target="#jeppiaar">View Profile</button>
        </div>
      </div>
    </div>
    <div class="single-testi">
      <div class="img-area">
        <img src="{%static "images/dr_mariazeena_johnson1.jpg" %}" alt="DR_MARIAZEENA_JOHNSON" height="300px">
      </div>
      <div class="content">
        <div class="title">COLONEL DR. MARIAZEENA_JOHNSON</div>
        <div class="sub-title">B.E., MBA., M.Phil., Ph.D.</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="btn">
        <button  data-toggle="modal" data-target="#marie">VIEW PROFILE</button>
        </div>
      </div>
    </div>
    <div class="single-testi">
      <div class="img-area">
        <img src="{%static "images/dr_marie_johnson.jpg" %}" alt="DR_MARIE_JOHNSON" height="300px">
      </div>
      <div class="content">
        <div class="title">COLONEL DR. MARIE_JOHNSON</div>
        <div class="sub-title">B.E., MBA., M.Phil., Ph.D.</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="btn">
          <button data-toggle="modal" data-target="#johan">VIEW PROFILE</button>
        </div>

      </div>
    </div>

  </div>
</div>
</div>
<!-- END OF CARDS -->
<!-- CONTENT SLIDER-->
<div class="container1">
  <div class="row">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators cr">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active cs"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <section class="section1">
        <h1>Amongst <span style="color:orange">Top 50 Universities</span> in the Country</h1>
        <p>SATHYABAMA is ranked amongst top 100 Indian Universities and Colleges in Overall Category by NIRF Ranking released by Ministry of Human Resource Development, Government of India</p>
      </section>
    </div>
    <div class="carousel-item">
      <section class="section1">
        <h1>Amongst <span style="color:green">Top 50 Universities</span> in the Country</h1>
        <p>SATHYABAMA is ranked amongst top 100 Indian Universities and Colleges in Overall Category by NIRF Ranking released by Ministry of Human Resource Development, Government of India</p>
      </section>
    </div>
    <div class="carousel-item">
      <section class="section1">
        <h1>Amongst <span style="color:red">Top 50 Universities</span> in the Country</h1>
        <p>SATHYABAMA is ranked amongst top 100 Indian Universities and Colleges in Overall Category by NIRF Ranking released by Ministry of Human Resource Development, Government of India</p>
      </section>
    </div>
    <div class="carousel-item">
      <section class="section1">
        <h1>Amongst <span style="color:cyan">Top 50 Universities</span> in the Country</h1>
        <p>SATHYABAMA is ranked amongst top 100 Indian Universities and Colleges in Overall Category by NIRF Ranking released by Ministry of Human Resource Development, Government of India</p>
      </section>
    </div>

  </div>
</div>
</div>
</div>

<!--AWARDS -->
<h1 id="awardsh1" data-aos="fade-left">AWARDS AND ACCOLADES</h1>
<div class="container2" data-aos="fade-right">
  <div class="row">
    <div class="card-deck">
      <div class="col-lg-3 col-md-6">
        <div class="card shadow1" data-aos="slide-left" style="width: 18rem;height: 29rem;">
          <div class="inner">
            <img class="card-img-top" src="{%static "images/Awards/guinness1.png" %}" alt="GUINNESS" title="Guinness World Record">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">The Longest Painting</h5>
            <p class="card-text">The Longest Painting measured 2,235m (7332' 8") and was created by students from the Department of Architecture in Chennai, India on 11th January 2003.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card shadow1" data-aos="zoom-in"style="width: 18rem;height: 29rem;">
          <div class="inner">
            <img class="card-img-top" src="{%static "images/Awards/birla.jpg" %}" alt="BIRLA" height="172.28" title="Birla White Yuva Ratna">
          </div>
          <div class="card-body">
            <h5 class="card-title">Birla White Yuvaratna</h5>
            <p class="card-text">Birla White Yuvaratna has awarded the Department of Architecture for sending the maximum number of entries at the National Level design competition.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card shadow1" data-aos="zoom-in-right" style="width: 18rem;height: 29rem;">
          <div class="inner">
            <img class="card-img-top" src="{%static "images/Awards/limca2.png" %}" alt="LIMCA BOOK OF RECORDS" title="Limaca Book of Records">
          </div>
          <div class="card-body">
            <h5 class="card-title">Limca Book of Records</h5>
            <p class="card-text">Limca Book of Records has considered the record for the Longest Maze created by the students using recycled materials during Apologue 2013 - Zonal Nasa Convention hosted by the Department of Architecture, Sathyabama Institute of Science and Technology, for the year 2014.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card card1 shadow1" data-aos="zoom-out-down" style="width: 18rem;height: 29rem;">
          <div class="inner">
            <img class="card-img-top" src="{%static "images/Awards/sharonplywoods2.png" %}" alt="NATIONAL LEVEL AWARD" title="National Level Award">
          </div>
          <div class="card-body">
            <h5 class="card-title">National level Award</h5>
            <p class="card-text">National level Awardby Sharon Plywoods for the Best ‘Sustainable Office Design’ workshop was awarded to the Department of Architecture, Sathyabama Institute of Science and Technology in 2013.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card card1 shadow1" data-aos="zoom-out-up" style="width: 18rem;height: 29rem;">
          <div class="inner">
            <img class="card-img-top" src="{%static "images/Awards/NIASAthesisawards.png" %}" alt="NIASA THESIS AWARD" title="Niasa Thesis Award">
          </div>
          <div class="card-body">
            <h5 class="card-title">NIASA Thesis Awards</h5>
            <p class="card-text">The Department of Architecture was also awarded the Certificate of Appreciation for hosting the NIASA Thesis Awards - 2011 conducted by National Institute of Advanced Studies in Architecture.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
      <div class="card card1 shadow1" data-aos="zoom-in-left" style="width: 18rem;height: 29rem;">
        <div class="inner">
          <img class="card-img-top" src="{%static "images/Awards/pidiliteaward1.png" %}" alt="PILIDILITE AWARD" title="Pilidilite Award">
        </div>
        <div class="card-body">
          <h5 class="card-title">Pidilite Award for Excellencewas</h5>
          <p class="card-text">Pidilite Award for Excellencewas awarded to the Department in the years 2008, 2009, 2010 and 2012</p><br>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card1 shadow1" data-aos="zoom-out" style="width: 18rem;height: 29rem;">
        <div class="inner">
          <img class="card-img-top" src="{%static "images/Awards/professortonymemorialaward.png" %}" alt="PROFESSOR TONY MEMORIAL AWARD" title="Professor Tony Memorial Award">
        </div>
        <div class="card-body">
          <h5 class="card-title">Professor Tony Memorial Award</h5>
          <p class="card-text">Professor Tony Memorial Award was awarded to the for Excellence in Academic Designs, at the Zonal NASA Convention - 2006</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card1 shadow1" data-aos="fade-left"  style="width: 18rem;height: 29rem;">
        <div class="inner">
          <img class="card-img-top" src="{%static "images/Awards/beststudio.png" %}" alt="BEST STUDIO PROJECT" title="Best Studio Project">
        </div>
        <div class="card-body">
          <h5 class="card-title">Best Studio Project</h5>
          <p class="card-text">The Department of Architecture was also awarded the Best Studio Projectfor the fourth year academic design by Saint Gobain during Transparence 2011 and 2013.</p>
        </div>
      </div>
    </div>
  </div><!--end of card-deck-->
</div><!--end of row-->
</div><!--end of container -->
<!-- END OF AWARDS-->
<!-- MARQUEE TAG FOR COMPANIES-->
  <marquee class="company" behavior="scroll" direction="left" scrollamount="15" scrolldelay="1" role="marquee" onmouseover="this.stop();" onmouseout="this.start();">
    <h1 class="companyh1">CSE :</h1>
    <img src="{% static "images/Companies/accenture.jpg" %}" alt="" width="158" height="73">
    <img src="{% static "images/Companies/asian paints.jpg" %}" alt="" width="158" height="73">
    <img src="{% static "images/Companies/balcon.jpg" %}" alt="" width="158" height="73">
    <img src="{% static "images/Companies/birla soft.jpg" %}" alt="" width="158" height="73">
    <img src="{% static "images/Companies/csc.jpg" %}" alt="" width="158" height="73">
    <img src="{% static "images/Companies/hcl.jpg" %}" alt="" width="158" height="73">
  </marquee>
<!-- SCRIPT FOR CHANCELLORS SLIDER -->
<script>
$('.testimonial-carousel').owlCarousel({
    loop:true,
    margin:20,
    autoplay: true,
    autoplayTimeout: 2000,
    autoplayHoverPause: true,
    dots: true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:3
        }
    }
})
</script>
<!--END OF CHANCELLORS SLIDER -->
<!--SCRIPT FOR CONTENT SLIDER -->
<script>
   $(document).ready(function(){
       $("#carouselExampleIndicators").carousel( { interval:  2000 } );

   });
</script>
<!-- END OF CONTENT SLIDER SCRIPT -->
{% endblock bodyblock %}
