/* LATEST NEWS */
.onoffswitch3
{
    position: relative;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}

.onoffswitch3-checkbox {
    display: none;
}

.onoffswitch3-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0px solid #999999;
    border-radius: 0px;
}

.onoffswitch3-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner > span {
    display: block; float: left; position: relative; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: 'Montserrat', sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch3-inner .onoffswitch3-active {
    padding-left: 10px;
    background-color: #EEEEEE;
    color: #FFFFFF;
}

.onoffswitch3-inner .onoffswitch3-inactive {
    width: 100px;
    padding-left: 16px;
    background-color: #EEEEEE;
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch3-switch {
    display: block; width: 50%;
    margin: 0px;
    text-align: center;
    border: 0px solid #999999;
    border-radius: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
}
.onoffswitch3-active .onoffswitch3-switch {
    background: #27A1CA;
    left: 0;
    width: 160px;
}
.onoffswitch3-inactive{
    background: #A1A1A1;
    right: 0;
    width: 20px;
}
.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
    margin-left: 0;
}
.scroll-text{
    color: #000;
}
/*END OF LATEST NEWS */
/* BOOTSTRAP CARD
.slider{
  max-width: 1550px;
  display:flex;
}
.slider .card{
  flex: 1;
  margin: 0 10px;
  background: #fff;
}
.slider .card .img{
  height: 300px;
  width: 100%;
}
.slider .card .img img{
  height: 100%;
  width: 100%;
}
.slider .card .content{
  padding: 10px 20px;
}
slder ==> wrapper1
card ==> single-testi
}*/
.wrapper1{
  width: 1170px;
  margin: 0 auto;
  cursor: grab;
}
.section-padding{
  padding: 60px 0;
}
.testimonial-carousel{
  margin: 25px 0px;
  padding: 0px;
}
.wrapper1 .single-testi .content{
  padding: 10px 20px;
}
.owl-dots{
  text-align: center;
}
.owl-dot{
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background: black !important;
  opacity: 0.8;
  border-radius: 50%;
  margin: 50px 5px 0;
}
.owl-dot.active{
  background-color: #ff5257 !important;
}
.single-testi .content .title{
  font-size: 22px;
  font-weight: 600;
}
.single-testi .content .sub-title{
  font-size: 25px;
  font-weight: 600;
  color: #e74c3c;
}
.sigle-testi .content .p{
  text-align: justify;
  margin: 10px 0px;
}

.single-testi .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0px;
}
.single-testi .content .btn button{
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.single-testi .content .btn button:hover{
  transform: scale(0.9);
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

/* END OF BOOTSTRAP CARD */
/* COUNTER CSS */
.num{
    font-size: 45px;

  }
  p{
      margin-bottom: 0px;
  }
.bgc{
  background-color:#ffc;
}
 .content-center>p{
     top:0;
     width:100%;
 }
 .col-2{
     padding-top: 50px !important;
     padding-bottom: 50px;
 }
/* END OF COUNTER */
/* VIDEO CSS */
.video{
  width: 100%;
  height: auto;
  z-index: 0;
}
/*CONTENT CSS*/
.container1 {
  width: 90%;
  margin:20px auto;
}
.carousel {
  border: 2px solid #416be4;
  padding-bottom : 70px;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
  cursor : grab;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
}
.slide {
  display: flex;
  height: 100%;
  width: 500%;
}
.slide section {
  flex-basis: 100%;
  font-size: 20px;
}
.section1 h1{
  text-align: center;
  margin-top: 10px;
}
.section1 p{
  margin-left: 20px;
  margin-right: 10px;
  text-align-last: center;
}
.left, .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow i {
  font-size: 70px;
  -webkit-user-select: none;
  color: #416be4;
}
.left {
  left: 10px;
}
.right {
  right: 10px;
}
.control ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%);
}
.control ul li {
  width: 10px;
  height: 10px;
  background: #333;
  border: 2px solid #333;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
}
.control ul li.selected {
  background: transparent;
}
.carousel-indicators li
{
  background-color:rgba(196, 94, 27, 0.788);
}
.carousel-indicators .active{
  background-color: #01a2ff;
}
.cr{
  margin-top: 200px;
  cursor: pointer;
}

/*AWARDS*/
.container2 {
  width: 90%;
  margin:20px auto;
}
#awardsh1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25PX;
}
.shadow1{
    box-shadow: 0px 5px 5px #888888;
    z-index:999;
}
.card1{
  margin-top: 20px;
}
.inner{
  overflow: hidden;
}
.inner img{
  transition: all 1.0s ease;
}
.inner:hover img{
  transform: scale(1.3);
}
.card-title{
  color: orange;
}
.card-text{
  color: black;
}
.som{
  background-color: transparent;
  color: #000;
  border: 1px solid red;
}
.som:focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 13, 13, 0.959);
}
.som:hover{
  background-color: red;
  color: white;
  border: 1px solid red;
  text-decoration: wavy;
}
.btn-secondary:not(:disabled):not(.disabled):active.som:active{
  background-color: transparent;
  color: red;
  border: 1px solid red;
  text-decoration: wavy;
}
/*PROGRAMS OFFERED */
.programs{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}
.h5{
  font-size: 20px;
  margin-bottom: .5rem;
  line-height: 1.2;
}
h3{
  display: block;
}
.color-gray{
  color: #999 !important;
  font-size: 20px;
}
small{
  font-size: 80%;
  font-weight: 400;
}
.title-hr{
  width: 40px;
  border-top: 3px solid #ed1b23;
  margin-left: 0px;
  margin-top: 0rem;
}
.fa-chevron-left::before{
  font-size: 50px;
  color: black;
}
.fa-chevron-right::before{
  font-size: 50px;
  color: black;
}
/* LOCATION ON VIDEO */
.tipTool {
    position: absolute;
    right: 5%;
    top:2%;
    z-index: 2000;
}
.tipTool a{
  display: grid;
}
.tipTool>.btn-secondary{
  background-color: #fffffa;
  border-color: #fffffa;
  transition-delay: .2s;
}
.tipTool>.btn-secondary:hover{
  background-color: black;
  border-color: black;
}
.tipTool>.btn-secondary:hover>.loc{
  transition-delay: .3s;
  color:#ffffff;
}
.tipTool>.btn{
  border: 0px;

}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color:#ff5257;
  text-align: center;
  background-color:white;
  border-radius: .25rem;
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 0 5px 5px;
  border-bottom-color: white;
}
.vid{
  position : relative;
}
.center {
  bottom: 2%;
   color: #fff;
   display: block;
   left:50%;
   position:absolute;
   justify-content: center;
}
.mouseLayout {
 top:13%;
   width: 33px;
   height: 50px;
   background-color: transparent;
   border: .1px solid #fff;
   border-radius: 15px;
   position: relative;
}.mouseLayout::before {
   content: "";
   border: 5px solid #fff;
   position: absolute;

   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 50%;
   animation: drop 1s linear infinite;
}
 @keyframes drop{
   0%{
     transform: translate(-50%,30px);
     opacity: 0;
   }
   60%{
     transform: translate(-50%,20px);
     opacity: .8;
   }
   100%{
     transform: translate(-50%,5px);
     opacity: 1;
   }
 }

/*END OF LOCATION ON VIDEO */
/*RESPONSIVE CSS FOR CHANCELLORS SLIDER */
@media only screen and (min-width: 768px) and (max-width: 991px){
  .wrapper1{
    width: 100%;
  }
}
@media only screen and (max-width: 767px){
  .wrapper1{
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
  .wrapper1{
    width: 100%;
  }
