.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
html{
	max-width: 100%;
	max-width: 100%;
}
body{
	width: 100%;
    height: 100%;
    z-index: 0;
}
.footer {
    
    left: 0;
    bottom: 0;
    min-width:  100%;
    background-color: black;
    color: white;
    text-align: center;
  }
.footer>.container{
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.container>.foot-c
{
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-expand-lg>.container
{
    margin: 0px;
}
.form-inline{
    display:block;
}
.dropdown:hover .dropdown-menu {
    display: block;

    
 }

.navbar-dark{
    background-color: #0f0f01;
}
