/* 1.HEADER CSS */
/* 2.NAVBAR CSS */
/* 3.FOOTER CSS */
/* 4.READING PROGRESS BAR */
/* 5.SCROLL UP */
/* 6.RESPONSIVE CSS FOR FOOTER */
/* 7.MEDIA QUERY FOR NAVBAR */

body{
  overflow-x: hidden;
}
/* SCROLL BAR */
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb
{
  background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent,#00c6ff);

}
/* END OF SCROLL BAR */
/*HAMBURGER*/
.menu-btn.navbar-toggler{
  padding: 0px;
  border: 0px;
}
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION FOR HAMBURGER*/
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
/*1.HEADER.CSS*/
.row{
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-logo{
  display: block;
}
.text-left{
  text-align: left !important;
  padding-left: 22px;
}
.logo{
  width: 310px;
  margin: auto;
  display: block;
}
.text-right{
  text-align: right !important;
  padding-right: 22px;
}
.d-none{
  display: none !important;
}
::after, ::before{
  box-sizing: border-box;
}
.logo img{
  height: 90px;
  width: 410px;
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
.clearfix::after{
  display: block;
  clear: both;
  content: "";
}
.header-logos-sm{
  display: none;
}
@media only screen and (min-width:768px){
  .col-md-4{
  flex: 0 0 33.333333%;
  flex-grow : 0;
  flex-shrink : 0;
  flex-basis : 33.333333%;
  max-width : 33.333333%;
}
}
@media screen and (max-width: 768px) {
 .header-logo {
  display:none;
  }
.header-logos-sm {  display:block }
.header-logos-sm img {  width:100%; }
.top_header li{ font-size:14px; list-style-type:none; margin-right:1px;padding-left: 5px; }
 }
/*END OF HEADER CSS */
/*------------2.NAVBAR CSS------*/
.navbar-dark{
 background-color: #0f0f01;
 padding-left:0px;
}
.dropdown a:hover{
 color: #33ffff;
 border-radius: 5px;
 text-decoration: none;
 box-shadow: 0 0 5px #33ffff;
}
.navbar-dark .navbar-nav .nav-item .nav-link{
 color: white;
}
.navbar-dark .navbar-nav .nav-item .nav-link:hover{
 color: #33ffff;
}
.dropdown-menu{ /*below about us*/
 background: white;
 margin-top: 0px;
 padding:0px;
}
.dropdown-menu a:hover{
 color: cyan;
 background: black;
 box-shadow: none;
}

.navbar .dropdown:hover .dropdown-menu {
 visibility: visible;
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
 top:40px;
}
.navbar .dropdown-menu
{
 box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
 border-top: 5px solid cyan;
 padding: 15px;
 top: 96px;
 border-radius: 0;
 display: block;
 visibility: hidden;
 transition: .3s ease;
 opacity: 0;
 -webkit-transform: translateY(20px);
 transform: translateY(20px);
 background: #fff;
}
.fa-angle-double-right::before
{
 margin-left: 40px;
 font-size: 15px;
}
/* ----END OF NAVBAR CSS ---- */
/* ------------------------------3.FOOTER CSS-------------------------*/
.footer-hr{
  width: 70px;
  border-top: 2px solid cyan;
  margin-left: 0px;
  margin-top: 0rem;
}
.container4{
  margin-left:50px;
  margin-right:50px;
}
.footer-top
{
  background: #111;
  /*padding: 80px 0px;*/
  padding:0px 0px 0px 0px;
  /*padding-bottom: 10px;*/
}
.segment-two h2
{
  color: #fff;
  font-family: poppins;
  text-transform: uppercase;
  font-size: 18px;
}
.segment-two h2:hover
{
  color:yellow;
}
.segment-two h2::before
{
  content: '|';
  size:30px;
  color:rgba(247, 13, 5,1.0);
  padding-right: 10px;
}
.segment-two ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}
.segment-two ul li
{
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
}
.segment-two ul li a
{
  color: #999;
  text-decoration: none;
}
.segment-two li a:hover
{
  color: #ffffff;
}
.segment-two h2
{
  margin-bottom: 15px;
}
.segment-three h2
{
  color: #fff;
  font-family: poppins;
  text-transform: uppercase;
  font-size: 18px;
}
/*social media icons css*/
.segment-three ul{
  display: flex;
  margin-top: 20px;
  padding: 0px;
  list-style: none;
}
.segment-three ul li{
  background: white;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: .5s;
  overflow: hidden;
}
.segment-three ul li .fab{
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
}
.segment-three ul li:nth-child(1){
  border:2px solid #3B5998;
}
.segment-three ul li:nth-child(1) .fab{
  color: #3B5998;
}
.segment-three ul li:nth-child(2){
  border:2px solid #d72888;
}
.segment-three ul li:nth-child(2) .fab{
  color: #d72888;
}
.segment-three ul li:nth-child(3){
  border:2px solid #38A1F3;
}
.segment-three ul li:nth-child(3) .fab{
  color: #38A1F3;
}
.segment-three ul li:nth-child(4){
  border:2px solid #0077B5;
}
.segment-three ul li:nth-child(4) .fab{
  color: #0077B5;
}
.segment-three ul li:nth-child(5){
  border:2px solid #eb1c14;
}
.segment-three ul li:nth-child(5) .fab{
  color: #eb1c14;
}

.segment-three ul li:hover:nth-child(1){
  background: #3B5998;
}
.segment-three ul li:hover:nth-child(2){
  background: #d72888;
}
.segment-three ul li:hover:nth-child(3){
  background: #38A1F3;
}
.segment-three ul li:hover:nth-child(4){
  background: #0077B5;
}
.segment-three ul li:hover:nth-child(5){
  background: #eb1c14;
}

.segment-three ul li .fab:nth-child(1){
  left: -50%;
  opacity: 0;
}
.segment-three ul li:hover .fab:nth-child(1){
  left: 50%;
  opacity: 1;
  color: white;
}
.segment-three ul li:hover .fab:nth-child(2){
  left: 150%;
  opacity: 0;
}
/*end of social medis icons css*/
.segment-three h2
{
  margin-bottom: 8px;
}
.segment-three h2:hover
{
  color:yellow;
}
.segment-three p
{
  margin-bottom: 20px;
    color: #999;
    line-height: 25px;
}
.segment-three p:hover
{
  color:#ffffff;
}

.segment-four h2
{
  color : #fff;
  font-family: poppins;
  text-transform: uppercase;
  font-size: 18px;

}
.segment-four h2:hover
{
  color:yellow;
}
.segment-four a
{
  text-decoration: none;
  color: #999999;
}
.segment-four a i
{
  font-size: 15px;
  padding-bottom:10px;
  color:#999999;
  width: 40px;
}
.segment-four h2
{
  margin-bottom: 8px;
  font-size: 18px;
}
.segment-four a:hover
{
  color:#ffffff;
}
.segment-four i:hover
{
  color:#ffffff;
}
.segment-five h2
{
  color: #fff;
  font-family: poppins;
  text-transform: uppercase;
  font-size: 18px;
}
.segment-five h2:hover
{
  color:yellow;
}
.footer-bottom-text
{
  text-align: center;
  background: #000;
  color: #999;
  line-height: 75px;
}
.footer-bottom-text:hover
{
  color: #ffffff;
}
/* -------END OF FOOTER---------------- */
/* 4.READING PROGRESS BAR */
.header
{
  max-width: 100%;
  width: 100%;
  background: #f2f2f2;
  position: fixed;
  top: 0;
  height: 0px;
}
.scroll_bar
{
  margin: -1px;
  height: 7px;
  width: 100%;
  background: #ddd;
 }
#scroll_indicator
{
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, #06beb6, #48b1bf);
}
/*--- END OF READING PROGRESS BAR -->
/* 5. SCROLL UP */
html
{
  scroll-behavior:smooth;
}
.to-top{
  background: white;
  position: fixed;
  bottom: 10px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
}
.to-top.active
{
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
/* END OF SCROLL UP */
/* 6.RESPONSIVE CSS FOR FOOTER */
@media only screen and (min-width: 768px) and (max-width: 991px)
{
  .md-mb-30
  {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 767px)
{
  .sm-mb-30
  {
    margin-bottom: 30px;
  }
  .footer-top{
    padding-top: 50px;
    padding-bottom: 0px;
    margin-top: -5px;
  }
}


/*7.NAVBAR MEDIA QUERY */
@media screen and (max-width:990px){
  .navbar .dropdown-menu
{
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
  border-top: 5px solid cyan;
  padding: 15px;
  top: 96px;
  border-radius: 0;
  display: none;
  visibility: hidden;
  transition: .3s ease;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  background: #fff;
}
.navbar .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  display: block;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  top:40px;
}
/*END OF MEDIA QUERY */
