.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer{
    background-color: #AE2121;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background:#9552e3;
    color:floralwhite;
}
.address{
    font-size: 80%;
    margin: 0px;
    color:#0f0f0f;
}
.navbar-expand-lg>.container
{
    margin: 0px;
}
.form-inline{
    display:block;
}
.dropdown:hover .dropdown-menu {
    display: block;

    
 }
body{
    padding: 60px;
    z-index: 0;
}
.navbar-dark{
    background-color: #0f0f01;
}
.tab-content{
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding 10px;
}